<nav id="main">
  <div class="logo">
    <a href="/"><img src ="/images/delp_copy.png"></a>
  </div>

  <div class="right-nav">
        <div class="links">
      <ul>
        <li><a href="/">home</a></li>
        <% if session[:id] %>
          <li><a href="/users/profile">profile</a></li>
          <li><a href="/users/logout">logout</a></li>
        <% else %> 
          <li><a href="/users/login">login</a></li>
          <li><a href="/users/signup">signup</a></li>
        <%end %>
      </ul>
    </div>
  </div>
  <div class="search">
    <form action="/search" method="post">
      <input type="text" name="search_term" <% if @search_term != '' %> value="<%= @search_term %>" <% else %> placeholder="Search for a Restaurant" <% end %>>
      <input type="submit" value="Search">
    </form>
  </div>
</nav>