<nav id="main">
  <div class="logo">
    <a href="/"><img src ="/images/delp_copy.png"></a>
  </div>

  <div class="right-nav">
        <div class="links">
      <ul>
        <% if @home_nav %>
          <%= erb :'/partials/_main_nav' %>
        <% else %>
          <li><a href="/">home</a></li>
          <%= erb :'/partials/_main_nav' %>
        <% end %>
      </ul>
    </div>
  </div>
    <div class="search">
    <form action="/search" method="post">
      <input type="text" name="search_term" placeholder="Search for a Restaurant">
      <input type="button" value="Search">
    </form>
  </div>
</nav>