<div class="create-review">
  <h1> Review <%= @restaurant.name.capitalize %></h1>
  <form action="/write_review/<%= @restaurant_id %>" method="post" class="review-form">
    <%= erb :'partials/_review_fields' %>
    <input type="submit" class="submit-btn" value="Submit!">   
  </form>
</div>