<div class="create-restaurant">
<form action="/restaurants/create" method="post">
  <div class="restaurant-fields">
  <input type="text" name="restaurant[name]" placeholder="Restaurant Name"><br>
  <input type="text" name="restaurant[website]" placeholder="Website"><br>
  <input type="text" name="restaurant[address]" placeholder="Address"><br>
  <input type="text" name="restaurant[phone]" placeholder="Phone Number"><br>
  <input type="text" name="restaurant[hours]" placeholder="Hours (ex: Mon-Fri 9-5)"><br>
  </div>
  <% if @categories %>
    <select name="category">
      <option value="" disabled="disabled" selected="selected">Please select a category</option>
    <% @categories.each do |category| %>
      <option value="<%= category.name %>" name="category"><%= category.name %></option>
    <% end %>
    </select> <br>
  <% end %>
  <input type="submit" class="submit-btn" value="Create Restaurant!">
</form>
</div>