<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/jquery-ui-1.10.2.custom.css" />
  <link rel="stylesheet" href="/css/jquery-ui-1.10.2.custom.min.css" />
  <script src="/js/jquery-1.9.1.js"></script>
  <script src="/js/jquery-ui-1.10.2.custom.js"></script>
  <script src="/js/jquery-ui-1.10.2.custom.min.js"></script>
  <script src="/js/app.js"></script>

  <title>Good Eats Around DBC!</title>
</head>
<body>
    <div>  
      <%= erb :"partials/_nav" %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div>
      <%= erb :"partials/_footer" %>
    </div>
  </body>
</html>

